@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
:root {
  --color1: hsl(179, 62%, 43%);
  --color2: hsl(71, 73%, 54%);
  --color3: hsl(204, 43%, 93%);
  --color4: hsl(218, 22%, 67%);
  --color5: hsl(0,100%,100%);
  --color6: hsla(179, 62%, 43%, .5);
}
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "Karla";
  background: var(--color4);
}
.container {
  display: grid;
  margin: auto;
  width: 375px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  border-radius: 5px;
  overflow: hidden;
  letter-spacing: 1.5px;
  line-height: 1.6;
}
.card {
  padding: 1.75rem;
  color: var(--color3);
  background: var(--color1);
}
.description-title {
  text-shadow: 1px 1px var(--color3);
}
/*join our community*/
.join-community-section {
  background: var(--color5);
}
.main-title {
  color: var(--color1);
  text-shadow: 1px 1px var(--color1);
}
.second-main-title {
  color: var(--color2);
  text-shadow: 1px 1px var(--color2);
}
.content-description {
  color: var(--color4);
}
/*monthly-subscript*/
.monthly-price, .full-acces {
  margin: 0;
}
.monthly-price {
  color: var(--color5);
  font-size: 2rem;
}
.duration {
  color: var(--color3);
  font-size: 1rem;
  vertical-align: middle;
  padding-left: 1rem;
}
.full-acces {
  padding-bottom: 1.5rem;
}
.subscription-button {
  background: var(--color2);
  padding: 1rem 2rem;
  width: 100%;
  border-radius: .5rem;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  font-family: Karla;
  box-shadow: 5px 3px var(--color4);
  text-shadow: 1px 1px var(--color3);
}
.button-link {
  text-decoration: none;
  color: var(--color5);
}
.subscription-button:hover {
  cursor: pointer;
}
/*why-us-section*/
.why-us-section {
  background: var(--color6);
}
.list {
  list-style-type: none;
  padding-left: 0;
}

@media (min-width: 900px) {
  .container {
    width: 900px;
    max-width: 100%;
    grid-template-columns: 450px 450px;
  }
  .card {
    padding: 2rem;
  }
  .join-community-section {
    grid-column: 1/3;
  }
  .monthly-subscription {
    grid-column: 1/2;
  }
  .why-us-section {
    grid-column: 2/3;
  }
}
